@media (max-width: 767px) {
#main-block{
font-size: 1.6rem;
}
	.hide-links-small {
		display: none;
	}
}
@media (min-width: 768px) {
#main-block{
font-size: 1.6rem;
}
	.hide-links-large {
		display: none;
	}
}
@media (min-width: 992px) {
#main-block{
font-size: 2rem;
}
	.hide-links-large {
		display: none;
	}
}
@media (min-width: 1200px) {
#main-block{
font-size: 2.4rem;
}
	.hide-links-large {
		display: none;
	}
}